-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

= error_messages_for profile

%h4
  = t('profiles.edit.your_name')
= text_field_tag 'profile[first_name]', profile.first_name

%br
%br

%h4
  = t('profiles.edit.your_photo')

= render 'photos/new_profile_photo', :aspect => aspect, :person => person

%br
