- content_for :page_title do
  = t('.edit_account')

= render 'shared/settings_nav'
:javascript
  $('a[rel*=facebox]').facebox() 

.span-12.prepend-5.last
  .span-5.append-1
    %h3
      = t('.your_handle')
    %p
      %b= current_user.diaspora_handle
  .span-5.last
    %h3
      = t('.your_email')
    = form_for 'user', :url => user_path, :html => { :method => :put } do |f|
      = f.error_messages
      %p
        = f.text_field :email, :value => @user.unconfirmed_email || @user.email
        = f.submit t('.change_email'), :class => "button"
    %br
    - if @user.unconfirmed_email.present?
      %p= t('.email_awaiting_confirmation', :email => @user.email, :unconfirmed_email => @user.unconfirmed_email)
    %br

  %br
  %br
  %hr
  %br

  %h3 
    = t('.change_password')
  = form_for 'user', :url => user_path, :html => { :method => :put } do |f|
    = f.error_messages
    %p
      = f.label :current_password, t('.current_password')
      = f.password_field :current_password, :placeholder => t('.current_password_expl')
    %p
      = f.label :password, t('.new_password')
      = f.password_field :password, :placeholder => t('.character_minimum_expl')
    %p
      = f.label :password_confirmation, t('password_confirmation')
      = f.password_field :password_confirmation, :placeholder => t('.character_minimum_expl')

    .submit_block
      = link_to t('cancel'), edit_user_path
      = t('or')
      = f.submit t('.change_password'), :class => "button"

  %br
  %br
  %hr
  %br

  %h3 
    = t('.change_language')
  = form_for 'user', :url => user_path, :html => { :method => :put } do |f|
    = f.error_messages

    %p
      = f.select :language, available_language_options
      = f.submit t('.change_language'), :class => "button"

  %br
  %br
  %hr
  %br

  %h3 
    = t('.receive_email_notifications')
  = form_for 'user', :url => user_path, :html => { :method => :put } do |f|
    = f.error_messages

    = f.fields_for :email_preferences do |type|
      #email_prefs
        %p.checkbox_select
          = type.label :also_commented, t('.also_commented')
          = type.check_box :also_commented, {:checked =>  @email_prefs['also_commented']}, false, true

        %br
        %p.checkbox_select
          = type.label :comment_on_post, t('.comment_on_post')
          = type.check_box :comment_on_post, {:checked =>  @email_prefs['comment_on_post']}, false, true

        %br
        %p.checkbox_select
          = type.label :liked, t('.liked')
          = type.check_box :liked, {:checked =>  @email_prefs['liked']}, false, true

        %br
        %p.checkbox_select
          = type.label :remixed, t('.remixed')
          = type.check_box :remixed, {:checked =>  @email_prefs['remixed']}, false, true

        %br
        %p.checkbox_select
          = type.label :also_remixed, t('.also_remixed')
          = type.check_box :also_remixed, {:checked =>  @email_prefs['also_remixed']}, false, true

        %br
        %p.checkbox_select
          = type.label :followed, t('.followed')
          = type.check_box :follwed, {:checked =>  @email_prefs['followed']}, false, true
    %br
    = f.submit t('.change'), :class => "button"

  %br
  %br
  %hr
  %br


  .span-5.last
    %h3
      = t('.close_account_text')
    =link_to t('.close_account_text'), '#close_account_pane',  :class => "button", :onclick => "jQuery.facebox({ div: '#close_account_pane' });"

    .hidden#close_account_pane{:rel => 'facebox'}
      #inner_account_delete
        %h1
          = t('.close_account.dont_go')
        %p
          = t('.close_account.make_diaspora_better')
        .span-10
          = image_tag 'https://d2v75xn1eqsd0m.cloudfront.net/screenshots/4ca76f4bcb3526b6.jpg', :width => 375
          %br
          %small
            %b
              = t('.close_account.mr_wiggles')
        .span-10.last
          %ul
            %li
              = t('.close_account.what_we_delete')
            %li
              = t('.close_account.locked_out')
            %li
              = t('.close_account.lock_username')
            %li
              = t('.close_account.no_turning_back')
          %p
            %b
              = t('.close_account.no_turning_back')
              

          = form_for 'user', :url => user_path, :html => { :method => :delete } do |f|
            = f.error_messages

            %p
              = f.label :close_account_password, t('.current_password'), :for => :close_account_password
              = f.password_field :current_password, :id => :close_account_password
            %p
              = f.submit t('.close_account_text'), :'data-confirm' => t('are_you_sure_delete_account')
