<% content_for :head do %>
    <meta property="og:title" content="<%= AppConfig[:pod_name] %>" />
    <meta property="og:description" content="Make it uniquely you" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= AppConfig[:pod_url] %>" />
    <meta property="og:image" content="<%= AppConfig[:pod_url] %>icon_128.gif" />
    <meta property="fb:app_id" content="223055781146202" />
<% end %>

<div id="landing">
  <div class="row" role="header" style="padding-bottom:10px; background-color:rgba(0,0,0,0.7); box-shadow: 0 3px 40px rgba(0,0,0,0.8); z-index : 10; position : relative;">
    <div class="container">
        <div class="row" style="text-align:center;">
          <%= image_tag 'logos/large@2x.png' %>
          <h3 style="color : rgb(42,156,235); font-weight : 200;">Find & Remix</h3>
        </div>
    </div>
  </div>

  <div class="container">
    <div id="screenshots" class="row" style="text-align:center; padding: 10px 0;">
        <img src="https://d3mbmfe8268ud7.cloudfront.net/landing/mobile-1.png" style="width:200px; -ms-animation : fly-in 0.8s; -moz-animation : fly-in 0.8s; -webkit-animation : fly-in 0.8s; -webkit-transform: translateZ(0);">
    </div>

    <div id="login_register" style="position : absolute; bottom : 30px; width: 100%; text-align: center;">
      <%= link_to('/users/auth/facebook', :class => 'btn-large new-btn fb-btn') do %>
          <%= image_tag('logos/fb_f.png', :class => "fb-f") %>
          Log in with Facebook
      <% end %>
    </div>
  </div>
</div>