<% content_for :head do %>
    <meta property="og:title" content="<%= AppConfig[:pod_name] %>" />
    <meta property="og:description" content="Make it uniquely you" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= AppConfig[:pod_url] %>" />
    <meta property="og:image" content="<%= AppConfig[:pod_url] %>/icon_128.gif" />
    <meta property="fb:app_id" content="223055781146202" />
<% end %>

<div id="landing">
  <div id="banner" class="row" role="header">
    <div class="fb-like" data-href="https://makr.io" data-send="false" data-width="450" data-show-faces="true" data-colorscheme="dark"></div>

    <div id="controls">
      <a href="https://twitter.com/makrapp">
        <span class="label label-inverse" title="Follow @makrapp on Twitter">
          <img src="https://d3mbmfe8268ud7.cloudfront.net/landing/home_twit@2x.png" class="twitter-bird" height=20 width=20 />
        </span>
      </a>

      <a href="http://github.com/makrio/makrio">
        <span class="label label-inverse" title="Fork the code on Github">
          <img src="https://d3mbmfe8268ud7.cloudfront.net/landing/home_git@2x.png" class="github-octocat" height=20 width=20 />
        </span>
      </a>

      <a href="/users/sign_in">
        <span class="label label-inverse">
          LOG IN
        </span>
      </a>

    </div>

    <div class="container">
        <%= image_tag 'logos/large@2x.png', :height => 94, :width => 448 %>
        <h3>Collect & Remix</h3>
      </div>
  </div>

  <div class="container">
    <div id="content" class="row">
      <div id="screens" class="span7">
        <div id="s_container"></div>
      </div>

      <div class='span5'>
        <h3>Makr.io gives you the tools to quickly and easily 
          collect the things that inspire you, and remix them to inspire others.
        </h3>
        <div id="sign_up">

          <h4>JOIN THE PARTY...</h4>
          <br/>
          <%= flash_messages %>

          <%= link_to('/users/auth/facebook', :class => 'btn-large new-btn fb-btn', :style => "margin-right:10px;") do %>
            <%= image_tag('logos/fb_f.png', :class => "fb-f") %>
            Log in with Facebook
          <% end %>
          <%= link_to "Sign up with Email", '/users/sign_up', :class => 'btn-large new-btn' %>

        </div>
      </div>
    </div>
  </div>

  <div id="footer">
    ‌© 2012
  </div>
</div>

<!--image animation scripts-->
<script>
  $(function(){
    var cdnRoot = 'https://d3mbmfe8268ud7.cloudfront.net'
      , count = 4
      , pause = 8000
      , i = 1;

    cycleIn();

    function cycleIn(){
        $("#s_container").removeClass("outtatime")
        $("#s_container").html('<img src="' + cdnRoot + '/landing/c-' + i + '/1.png"/> <img src="' + cdnRoot + '/landing/c-' + i + '/2.png"/> <img src="' + cdnRoot + '/landing/c-' + i + '/3.png"/> <img src="' + cdnRoot + '/landing/c-' + i + '/4.png"/>');
        setTimeout(cycleOut, pause);
    }

    function cycleOut(){
      $("#s_container").addClass("outtatime")
      if(++i >= count) {
        i = 1;
      }
      setTimeout(cycleIn, 400)
    }
  });
</script>

<!--facebook scripts-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=223055781146202";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
