<h1><%="#{@tags.count} tags"%></h1>
<table class='table table-striped'>
  <thead>
    <tr>
      <th>Tag Name</th>
      <th>Number of posts</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <%- @tags.each do |tag| %>
      <tr>
        <td><%=link_to tag.name, "/tagged/#{tag.name}"%> </td>
        <td><%= tag.count %></td>
        <td>
          <%= form_for tag, :class => 'form-inline', :remote => true do |t| %>
            <%= t.text_area :description, :rows => 3%>
            <%= t.submit :class => 'btn' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
