<div class='stream-frame-feedback' />

<div class="content">
    <div class="image-container">
        {{#if photos}}
            {{#each photos}}
                <div class="image-wrapper">
                    <img src="{{sizes.large}}" {{#if ../../adjustedImageHeight}}style="height:{{../../adjustedImageHeight}}px;"{{/if}} />
                    <i class="icon-remove icon-white remove-image" data-image-id="{{id}}"></i>
                </div>
            {{/each}}
        {{/if}}
    </div>

    {{#if object_url}}
        <div class="image-container">
            <a href="{{object_url}}" class="stream-photo-link">
                <img src="{{image_url}}" class="stream-photo" />
            </a>
        </div>
    {{/if}}

    <div class="embed-frame" />

    {{#if text}}
        <div class="text-content">
            {{{text}}}
        </div>
    {{else}}
        <div class="text-content">
            <p></p>
        </div>
    {{/if}}
</div>

{{#if showInfo}}
    <div class="vitals">
        <div class="post-author">
            {{#if staff_picked_at}}
                <i class="icon-star icon-grey"></i>
            {{/if}}

            {{#unless onProfilePage}}
                {{#linkToPerson author}}
                    {{name}}
                {{/linkToPerson}}
            {{/unless}}
        </div>

        <i class="icon-heart icon-grey"></i> {{likesCount}}
        <i class="icon-random icon-grey"></i> {{interactions.remix_count}}
        <i class="icon-comment icon-grey"></i> {{commentsCount}}
    </div>
{{/if}}

{{#each stacks}}
    <div class="stack-el" />
{{/each}}