<div class='stream-frame-feedback' />

<div class="content" height="{{adjustedImageHeight}}px"   width="{{adjustedImageWidth}}px" >
    <div class="image-container"  >
        {{#if photos}}
            {{#each photos}}
                <div class="image-wrapper">
                    <img src="{{sizes.large}}" />
                    <i class="icon-remove icon-white remove-image" data-image-id="{{id}}"></i>
                </div>
            {{/each}}
        {{/if}}
    </div>

    {{#if object_url}}
        <div class="image-container">
            <a href="{{object_url}}" class="stream-photo-link">
                <img src="{{image_url}}" class="stream-photo" />
            </a>
        </div>
    {{/if}}

    <div class="embed-frame" />

    {{#if text}}
        <div class="text-content">
            {{{text}}}
        </div>
    {{else}}
        <div class="text-content">
            <p></p>
        </div>
    {{/if}}
</div>

<div class="p-info"/>