<div class='stream-frame-feedback' />

<div class="content">
    <img src="{{screenshot_url}}" {{#if adjustedImageHeight}}style="height:{{adjustedImageHeight}}px;"{{/if}} class="frame-screenshot" />
</div>

{{#if showInfo}}
    <div class="vitals">
        {{#unless onProfilePage}}
            {{#linkToPerson author}}
                {{name}}
            {{/linkToPerson}}
        {{/unless}}

        <i class="icon-heart icon-grey"></i> {{likesCount}}
        <i class="icon-random icon-grey"></i> {{interactions.remix_count}}
        <i class="icon-comment icon-grey"></i> {{commentsCount}}
    </div>
{{/if}}
