<div class='container about'>
  <div class='row'>
    <div class='span6 offset3'>
      <div id="about_container">
        <div id="about_left">
          <ul>
            <li><a href="/about">What is Makr.io?</a></li>
            <li><a href="/getting_started">Getting Started</a></li>
            <li><a href="/pro_tips">Pro-Tips</a></li>              
          </ul>
        </div>

        <h2>Makr is the place for simple, creative collaboration </h2>     

        <p>
          We give you the tools to easily pull content from anywhere on the web, add or change photos and text to remix it, and share it with the world. We encourage building on existing ideas to generate creative conversations. To get started, <a href='https://makr.io/users/sign_up'>sign up now</a>.
        </p>
        <br/>

        
        <h2>Our Mission</h2>
        <p>
          The word “meme” doesn’t mean what it used to, but it’s really nothing more than an idea that spreads—no “Advice Dog,” “College Freshman,” or “Condescending Wonka” in that definition.
        </p>
        <p>
          We want to give memes back to the Internet community—they are a way to communicate, to express ideas. Anyone should be able to make anything into a meme, without ugly meme generators or predetermined characters. Makr.io makes it easy to be a part of creating something on the web, and most importantly, Makr.io makes it easy to laugh and make others laugh. If there’s something better than laughing with your friends (or by yourself), we haven’t found it.
        </p>
        <br/>

        <h2>What can you do on Makr?</h2>
        <p>
          On Makr, you can “meme-ify” anything—add to the growing web of Internet culture, laugh, and share with friends. You can collaborate and share ideas with other Makrs in topics that you are interested in, and share your creations anywhere on the web. Explore posts, people, and topics to find the conversations and communities that fit you!
        <p/>
        <p><img src="{{imageUrl "about_1.jpg"}}" /></p>

        <br/>

        <h2>How do you Remix?</h2>
        <p><img src="{{imageUrl "remixsteps@2x.jpg"}}" /></p>
        <p>
          A remix on Makr.io is simply a riff on someone else’s post. You can remix any post on the site—just hover over a post and click the remix icon. You can change the post’s image, text or both. You can also remix from anywhere on the web—just <a href=''>install the Remix button</a> to your bookmarks bar.        
        </p>
        <br/>
        
        <h2>What is a Topic on Makr?</h2>
        <p>
          Topics are spaces where you can collaborate with people who share the same interests as you. You can start a topic thread yourself, or you can explore and join an existing one created by someone in the Makr community. You can be a contributor to a topic by sharing your own post or remixing another post in that topic.        
        </p>
        <p><img src="{{imageUrl "topics.jpg"}}" /></p>
        <br/>

        <h2>How do you create a Topic?</h2>
        <p>
          You can create a topic by making a new post and adding a tag about the topic you want to create.  From there, you can keep adding more posts to that topic.
        </p>
        <br/>    

        


        <h2>The Team</h2>
        <p>
          The Makr.io team is a bunch of hackers, designers, and internet-lovers living in the Bay Area. When we're not working on Makr or thinking about the internet, you can find us playing video games, eating Otter Pops, or riding our bikes around the neighborhood.
        </p>
        <p><img src="{{imageUrl "itsit.jpeg"}}" /></p>
        <br/>

        <h2>Contact Us</h2>
        <p>
          Got feedback? Questions? Just need someone to talk to? We'd love to hear from you. Email us: <a href='mailto:hello@makr.io'>hello@makr.io</a>.
        </p>
        <br/>

        <h2>Follow Us</h2>
        <p>Keep updated on Makr from any community!</p>
        <div class="follow-buttons">
          <a href='http://makrio.tumblr.com/' title="Tumblr" target="_blank">
            <img src="{{imageUrl "services/links/tumblr2@2x.png"}}" />
          </a>
          <a href='http://facebook.com/makrapp' title="Facebook" target="_blank">
            <img src="{{imageUrl "services/links/fb2@2x.png"}}" />
          </a>
          <a href='http://twitter.com/makrioapp' title="Twitter" target="_blank">
            <img src="{{imageUrl "services/links/twitter2@2x.png"}}" />
          </a>
          <a href='http://pinterest.com/makrioapp' title="Pinterest" target="_blank">
            <img src="{{imageUrl "services/links/pin2@2x.png"}}" />
          </a>

          <a href='https://joindiaspora.com/u/makrio' title="Diaspora" target="_blank">
          <img src="{{imageUrl "services/links/diasp@2x.png"}}" />
        </a>
      </div>


      <!-- </div>  -->


      </div>
    </div>
  </div>
</div>
 

