<header/>
<div class="container" style="margin-top: 60px;">

    {{#with original}}
        <h1>
            {{title}}
            <small>
                started by <a href="/people/{{author.guid}}">{{author.name}}</a>
            </small>
        </h1>
    {{/with}}
    <br />

    <div class="conversation-original" style="margin-left:5px;">
        <div id="root-frame"/>
    </div>

    <div id="conversation-info" class="canvas-frame x2" style="margin-left:10px;">
        <div class="content">
            <div class="text-content">
                <h1>{{info.post_count}} <small>Remixes</small></h1>
                <h6>Created <time class="timeago" datetime="{{info.created}}"/></h6>

                actions

                love | remix | (follow)

                invite
                share
                top poster

                most loved post
            </div>
        </div>
    </div>

    <div id="conversation-participants" class="canvas-frame" style="margin-top:10px; margin-left:10px;">
        <div class="content" style="min-height:0;">
            <div class="text-content">
                <h1>{{info.likes_count}} <small>Likes</small></h1>
            </div>
        </div>
    </div>

    <div id="conversation-likes" class="canvas-frame" style="margin-left:10px; margin-top:10px;">
        <div class="content" style="min-height:0;">
            <div class="text-content">
                <h1>{{info.participants_count}} <small>Makrs</small></h1>
            </div>
        </div>
    </div>

    <div class="clearfix" style="margin-bottom:20px;"/>

    <section id="canvas"/>
    <div id="paginate"><span class="loader hidden"/></div>
</div>
