<div style="background-color:#fff;"
    <div class="original-post media" style="max-width:255px">
        <a href="/p/{{id}}" class="img">
            <img src="{{screenshot_url}}" height=50 width=50 />
        </a>
        <div class="bd">
            {{title}}
        </div>
    </div>

    <div class="frame"/>

    <div class="remix-count">
        <h1>{{conversation.info.post_count}} <small>Remixes</small></h1>
    </div>

    <div class="likes-count">
        <h1>{{conversation.info.likes_count}} <small>Likes</small></h1>
    </div>

    <div class="likes-count">
        <h1>{{conversation.info.participants_count}} <small>Makrs</small></h1>
    </div>
</div>