<div class="container">
    <div class="conversation-original" style="margin-left:5px;">
        <div id="root-frame"/>
    </div>

    <div id="conversation-info" class="canvas-frame x2" style="margin-left:10px;">
        <div class="content" style="padding:10px; width:540px;">
            {{#with original}}
                <h1 id="cnv_title">
                    {{title}}
                </h1>
                <h4>
                    Conversation started by {{#linkToPerson author}}{{name}}{{/linkToPerson}}
                </h4>
            {{/with}}
            <hr />

            <a href="/posts/{{original.id}}/remix" id="cnv_rmx_btn" data-remix-id="{{original.id}}" class="btn new-btn btn-large">New Remix</a>
            
            <br/>
            <br/>
          <h6>Topics</h6>
          {{#each tags}}
            <a class='topic-link' href='/tagged/{{this.name}}'>  <span class="label">{{this.display_name}}</span></a>
          {{/each}}

            <br/>
            <br/>

            <div class="info-row">
                <h1>{{info.post_count}} <small>Remixes</small></h1>

            </div>

            {{#with info}}
                <div class="info-row">
                    <h1>{{participants_count}} <small>Makrs</small></h1>

                    {{#each participants}}
                        {{#linkToPerson this}}
                            {{{personImage this "small"}}}
                        {{/linkToPerson}}
                    {{/each}}
                </div>

                <div class="info-row">
                    <h1>{{likes_count}} <small>Likes</small></h1>

                    {{#each people_liked}}
                        {{#linkToPerson this}}
                            {{{personImage this "small"}}}
                        {{/linkToPerson}}
                    {{/each}}
                </div>
            {{/with}}

            <hr />
            <div id="share-actions"/>

            {{#if current_user.admin}}
                <hr />
                <h6>Tags</h6>
                <form name="tagForm" class='form-inline' action="/posts/{{original.id}}/tags" method="post" data-remote="true">
                    <input type="text" name="tag_list" value='{{tag_list}}' placeholder='add comma seperated tags'/>
                    <input type="submit" value='Set Tags' class="btn new-btn"/>
                </form>

                <h6>Collapse Conversation</h6>
                <form name="tagForm" class='form-inline' data-confirm='Are you sure you want to fold this conversation? YOU CAN NOT UNDO' action="/conversations/{{id}}/join" method="post" data-remote="true">
                    <input type="text" name="new_sibling" placeholder='add posts from other conversation'/>
                    <input type="submit" value='Collapse' class="btn new-btn"/>
                </form>
            {{/if}}
        </div>
    </div>

    <div class="clearfix" style="margin-bottom:20px;"/>
    <h6>Latest remixes of "{{original.title}}"  </h6>
    <section id="canvas"/>
    <div id="paginate"><span class="loader hidden"/></div>
</div>
