<div class="span5" style="margin-left:0;">
    <a href="/conversations/{{conversation_id}}">
        <div class="frame" style="background-image:url({{screenshot_url}})">

            <div class="boxed-frame">
                <img src="{{screenshot_url}}" class="screenshot" />
            </div>
        </div>
    </a>
</div>

<div class="span7 cnv-side-info">
    <h2 class="cnv-title">
        {{title}}
    </h2>
    <h3>
        by <a href="/{{author.username}}">{{author.name}}</a>
    </h3>

    <div class="remix-count">
        <h3>{{conversation.info.post_count}} <small>Remixes</small></h3>
    </div>

    <div class="likes-count">
        <h3>
            {{conversation.info.likes_count}} <small>Likes</small>
            {{conversation.info.participants_count}} <small>Makrs</small>
        </h3>
    </div>

    <div class="cnv-remixes">
        {{#each conversation.remix_siblings}}
            <a href="/p/{{id}}">
                <img src="{{screenshot_url}}" class="remix" />
            </a>
        {{/each}}
    </div>
</div>