<a href="#" rel="auth-required" class="label like" title="{{#if userLike}} {{t "viewer.unlike"}} {{else}} {{t "viewer.like"}} {{/if}}">
    {{#if userLike}}
        <i class="icon-heart icon-red"></i>
    {{else}}
        <i class="icon-heart icon-white"></i>
    {{/if}}
    {{likesCount}}
</a>

<a href="#" rel="auth-required" class="label reshare" title="{{#if userReshare}} {{t "viewer.reshared"}} {{else}} {{t "viewer.reshare"}} {{/if}}">
    {{#if userReshare}}
        <i class="icon-random icon-blue"></i>
    {{else}}
        <i class="icon-random icon-white"></i>
    {{/if}}
    {{resharesCount}}
</a>

<a href="#" class="label comment" rel="invoke-interaction-pane" title="{{t "viewer.comment"}}">
    <i class="icon-comment icon-white"></i>
    {{commentsCount}}
</a>
