<div class="photo-upload"> </div>

<div class="preview"> </div>

<div class='template-picker'>
    {{#each templates}}
        <input id='frame_name_{{name}}' name="frame_name" type="radio" class="mood" value={{name}} {{#if checked}}checked=checked{{/if}} />
        <label for='frame_name_{{name}}'>
            <img src='{{imageUrl ""}}buttons/templates/{{name}}@2x.png'/>
            <div class="template-name">
                {{name}}
            </div>
        </label>
        <br />
    {{/each}}
</div>

<div class="clearfix"/>

<div class="tags">
    <h6>Tags</h6>
    <input type="text" class="tag_list" name="tag_list" value='{{tag_list}}' placeholder='add comma seperated tags'/>
</div>
