<header/>
<div id="user_pane"/>

<!--to remove-->
{{#unless loggedIn}}
    <div class="container" style="margin-top:-60px;">
        <div id="landing_banner">
            <a href="/users/sign_up" class="btn new-btn huge-btn blue" style="float:right; margin-right:30px;">
                Sign up now
            </a>

            <h1>
                Makr.io is a collaborative web-remixing community.
            </h1>
            <h2>
                Creatively explore the topics you love with others.
            </h2>
        </div>
    </div>

    <div class='steps'>
        <div class="container image-wrap">
            <img class='steps' src='{{imageUrl "landing_steps@2x.jpg"}}' />
        </div>
    </div>
{{/unless}}
<!--to remove-->

<div class="container">
    {{#unless loggedIn}}
       <h2 class='featured-title'>{{title}} <small><a href='/latest' >See what people are remixing right now!</a></small></h2>
    {{else}}
        {{#if title}}
            <h1 id="page_title">
                {{title}}
                {{#if description}}
                    <small>
                        {{description}}
                    </small>
                {{/if}}
            </h1>
        {{/if}}
    {{/unless}}
    <div class='clearfix'/>

    <section id="canvas"/>
    <div id="paginate"><span class="loader hidden"/></div>
</div>