<div class='container about'>
  <div class='row'>
    <div class='span6 offset3'>
      <div id="about_container">
        <div id="about_left">
          <ul>
            <li><a href="/about">What is Makr.io?</a></li>
            <li><a href="/getting_started">Getting Started</a></li>
            <li><a href="/pro_tips">Pro-Tips</a></li>             
          </ul>
        </div>
        <br/>

        <h2><span>What is Makr.io?</span></h2>
        <p>
          Makr is the place for simple, creative collaboration. We give you the tools to easily pull content from anywhere on the web, add or change elements to remix it, and share your unique vision with the world. We encourage building on existing ideas to generate creative conversations. To get started, <a href='https://makr.io/users/sign_up'>sign up now</a>.
        </p>
        <br/>
        <h2>What is a Remix on Makr?</h2>
        <p>
          A remix is a combination of image and text selected by you and posted to Makr. A remix can be added from the web, your computer, or built on an existing Makr post. A remix can be a comment or interpretation on an existing post, and can create an entirely new conversation.        
        </p>
        <br/>

        <h2>How do you Remix?</h2>
        <p><img src="{{imageUrl "remixsteps@2x.jpg"}}" /></p>
        <p>
          You can remix any post on the Makr site—all you need to do is hover over a post and click on the remix icon, and you can then change the post’s image, text or both! Don’t forget you can also remix anywhere on the web—just <a href=''>install the Remix button</a> to your bookmarks bar.        
        </p>
        <br/>
        
        <h2>What is a Topic on Makr?</h2>
        <p>
          Topics is a space where you can collaborate with people who share the same interests as you. You can start a topic thread yourself, or you can explore and join an existing one created by someone in the Makr community. You can be a contributor to a topic by sharing your own post or remixing another post in that topic.        
        </p>
        <p><img src="{{imageUrl "topics.jpg"}}" /></p>
        <br/>
        
<!--         <h2>How do you create a Topic?</h2>
        <p>
          You can create a topic first by entering your interest in the topic search bar. You will see a list of topics drop down below the search bar. If your topic has not been created yet, you will see a “+” sign next to the name of your topic; click on this to create a new topic.
        </p>
        <br/>     -->

        <h2>Need more help?</h2>
        <p>
          Or got feedback? Questions? Just need someone to talk to? We'd love to hear from you. Email us: <a href='mailto:hello@makr.io'>hello@makr.io</a>.
        </p>
        <br/>

        <h2>Follow Us</h2>
        <p>Keep updated on Makr from any community!</p>
        <div class="follow-buttons">
          <a href='http://makrio.tumblr.com/' title="Tumblr" target="_blank">
            <img src="{{imageUrl "services/links/tumblr@2x.png"}}" />
          </a>
          <a href='http://facebook.com/makrapp' title="Facebook" target="_blank">
            <img src="{{imageUrl "services/links/fb@2x.png"}}" />
          </a>
          <a href='http://twitter.com/makrioapp' title="Twitter" target="_blank">
            <img src="{{imageUrl "services/links/twitter@2x.png"}}" />
          </a>
          <a href='http://pinterest.com/makrioapp' title="Pinterest" target="_blank">
            <img src="{{imageUrl "services/links/pin@2x.png"}}" />
          </a>
        </div>

      </div>
    </div>
  </div>
</div>
 

