<div class='container about'>
  <div class='row'>
    <div class='span6 offset3'>
      <div id="about_container">
        <div id="about_left">
          <ul>
            <li><a href="/about">What is Makr.io?</a></li>
            <li><a href="/getting_started">Getting Started</a></li>
            <li><a href="/pro_tips">Pro-Tips</a></li>             
          </ul>
        </div>
    
        <h2>The four commandments of Makr </h2>

        <div id="commandments">
        <p>
          <ol>
            <li>
              <strong>Like things like there is no tomorrow. </strong>  Makrs do this for the serotonin rush of being loved.  If you want to good stuff, you gotta dish it out.  We also use your likes to show you more awesome stuff like that, so it turns out it is a good deal for everyone.
            </li>

            <li>
              <strong>Remix all the things.</strong>  Do not be afraid.  Some of the best remix chains started with humble roots. Click that shuffle button, and change the text, photo, or both!  Anything goes, and remember, people are posting here because they WANT you to remix them, so make it your own!
            </li>

            <li>
              <strong>Be nice. </strong>  Nobody likes playing with a jerk.
            </li>

            <li>
              <strong>Invite your friends.</strong>  Make a post, and share it with them on their Facebook wall or mentioning them on Twitter.  Everyone loves getting a special something made just for them.
            </li>
          </ol>
        </p>

      </div>
      
        <br/>


        <h2>Need more help?</h2>
        <p>
          Or got feedback? Questions? Just need someone to talk to? We'd love to hear from you. Email us: <a href='mailto:hello@makr.io'>hello@makr.io</a>.
        </p>
        <br/>

        <h2>Follow Us</h2>
        <p>Keep updated on Makr from any community!</p>
        <div class="follow-buttons">
          <a href='http://makrio.tumblr.com/' title="Tumblr" target="_blank">
            <img src="{{imageUrl "services/links/tumblr2@2x.png"}}" />
          </a>
          <a href='http://facebook.com/makrapp' title="Facebook" target="_blank">
            <img src="{{imageUrl "services/links/fb2@2x.png"}}" />
          </a>
          <a href='http://twitter.com/makrioapp' title="Twitter" target="_blank">
            <img src="{{imageUrl "services/links/twitter2@2x.png"}}" />
          </a>
          <a href='http://pinterest.com/makrioapp' title="Pinterest" target="_blank">
            <img src="{{imageUrl "services/links/pin2@2x.png"}}" />
          </a>
          
          <a href='https://joindiaspora.com/u/makrio' title="Diaspora" target="_blank">
          <img src="{{imageUrl "services/links/diasp@2x.png"}}" />
        </a>
        </div>

      </div>
    </div>
  </div>
</div>
 

