<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <ul class="nav pull-right" style='z-index: 20;'>
            <li>
                <a href='http://bit.ly/NjcqO0' target='_blank'>TODAY 9pm PDT: We are having a Nick Cage party, right here!</a>
            </li>

            {{#if loggedIn}}
                <li>
                    <a class='bookmarklet' data-title="<div style='text-align:left;padding:6px'>Drag the 'Remix' button to your bookmarks bar to easily remix any photo while you browse the web!</div>"
                       href='{{bookmarkletJS}}' >
                        <i class='icon-bookmark icon-white'></i>Remix</a>
                </li>
                <li>
                    <button href="/framer" data-remix-id='new' data-title="Make a new Remix" id="composer-button" class="btn btn-primary" style="box-shadow: 0 -1px 2px #000, 0 1px 2px #444;"><i class="icon-plus icon-white"></i> Remix</button>
                </li>

                <li class="dropdown">
                    <button id="notifications-button" data-toggle="dropdown" class="btn dropdown-toggle {{#if current_user.notifications_count}}btn-danger{{else}}btn-inverse{{/if}}" style="box-shadow: 0 -1px 2px #000, 0 1px 2px #444;" title="Notifications">
                        {{current_user.notifications_count}}
                    </button>

                    <ul id="notifications-dropdown" class="dropdown-menu">
                        {{#each notifications}}
                        <li><a href="/p/{{post.id}}" class="notification" data-notification-id={{id}} >
                            <div class="media attribution">
                                    <span class="img">
                                        <div class="notification-img-wrapper" style="background-image:url('{{post.screenshot_url}}');">
                                        </div>
                                    </span>

                                <div class="bd">
                                    {{#each people}}
                                            <span class="object">
                                                {{name}}
                                            </span>
                                    {{/each}}
                                    {{action}}
                                        <span class="object">
                                            {{post.title}}
                                        </span>
                                    <br/>

                                    <i class="icon-{{icon_prefix}}"></i>
                                    <time class="timeago" datetime="{{time}}"/>
                                </div>
                            </div>
                        </a></li>
                        <li class="divider"></li>
                        {{/each}}

                        <li><a href="/notifications" class="see-all">See all notifications</a></li>
                    </ul>
                </li>


                <li class="divider-vertical"></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-user icon-white"></i>
                        {{current_user.nickname}}
                        <b class="caret"></b>
                    </a>

                    <ul class="dropdown-menu">
                        <li><a href="/people/{{current_user.guid}}">Profile</a></li>
                        <li><a href="/user/edit">Settings</a></li>
                        <li class="divider"></li>
                        <li><a href="/users/sign_out">Log Out</a></li>
                    </ul>
                </li>
            {{else}}
                <li>
                    <a href="/users/sign_in">Log In</a>
                </li>

                <li>
                    <a href="/users/sign_up">Sign Up</a>
                </li>

            {{/if}}
        </ul>

        <a href='/' class='logo'>
            <img src="{{imageUrl "makr_home_logo@2x.png"}}" height=26 width=118 />
        </a>


            <ul class="nav nav-tab" style="z-index:100;">
                <li {{#if onLatest}}class="active"{{/if}} data-title='All Posts on Makr.io'><a href="/stream"><i class="icon-time icon-white"></i> Latest</a></li>
                <li {{#if onStaffPicks}}class="active"{{/if}} data-title="The Makr.io staff's favorite remixes"><a href="/staff_picks"><i class="icon-star icon-white"></i> Staff Picks</a></li>
                {{#if loggedIn}}
                    <li {{#if onLikes}}class="active"{{/if}} data-title='All Posts you have liked'><a href="/likes"><i class="icon-heart icon-white"></i> My Likes</a></li>
                {{/if}}
            </ul>
    </div>
</div>