<ul class="nav-main">
    <li class="logo {{#if onFrontPage}}active{{/if}}" title='Front Page'>
        <a href="/front_page">
            <img src="{{imageUrl "nav/makr.png"}}" />
        </a>
    </li>

    <li class="logo {{#if onLatest}}active{{/if}}" title='Latest Posts'>
        <a href="/latest">
            <img src="{{imageUrl "nav/public.png"}}" />
        </a>
    </li>

    <li {{#if onTopics}}class="active"{{/if}} title="Topics">
        <a href="/top_tags">
            <img src="{{imageUrl "nav/topics.png"}}" />
        </a>
    </li>

    <li {{#if onStaffPicks}}class="active"{{/if}} title="Staff Picks">
        <a href="/staff_picks">
            <img src="{{imageUrl "nav/staff_picks.png"}}" />
        </a>
    </li>

    <li {{#if onTimeWarp}}class="active"{{/if}} title="Time Warp">
        <a href="/timewarp">
            <img src="{{imageUrl "nav/time.png"}}" />
        </a>
    </li>
    {{#if loggedIn}}
        <li title='New Remix'>
            <a href="/framer">
                <img src="{{imageUrl "nav/new.png"}}" id="composer-button" data-remix-id="new" />
            </a>
        </li>
    {{/if}}
</ul>

<ul class="nav-about">
    {{#if loggedIn}}
        <li title="Pro-Tips">
            <a href="/pro_tips">
                <img src="{{imageUrl "nav/tips@2x.png"}}" />
            </a>
        </li>
    {{/if}}
    <li title="About">
        <a href="/about">
            <img src="{{imageUrl "nav/about@2x.png"}}" />
        </a>
    </li>
</ul>

