<ul class="nav-popout">
    {{#if loggedIn}}
        <li class="popout-root">
            {{#linkToPerson current_user}}
                {{{personImage this "small" "medium"}}}
            {{/linkToPerson}}
        </li>

        <ul class="sub">
            <li {{#if onLikes}}class="active"{{/if}} title='My Likes'>
                <a href="/likes">
                    <img src="{{imageUrl "nav/likes.png"}}" />
                </a>
            </li>

            <li title="Settings">
                <a href="/users/edit">
                    <img src="{{imageUrl "nav/settings.png"}}" />
                </a>
            </li>
            <li title="Log Out">
                <a href="/users/sign_out">
                    <img src="{{imageUrl "nav/logout.png"}}" />
                </a>
            </li>
        </ul>
    {{else}}
        <li class="logo">
            <a href="/">
                <img src="{{imageUrl "nav/makr.png"}}" />
            </a>
        </li>
    {{/if}}
</ul>

<ul class="nav-main">
    {{#if loggedIn}}
        {{#if current_user.notifications_count}}
            <li class="notification-count" title='Notifications'>
                <a href="/notifications" target="_blank">
                    {{current_user.notifications_count}}
                </a>
            </li>
        {{/if}}
    {{/if}}

    <li {{#if onLatest}}class="active"{{/if}} title='Everything'>
        <a href="/stream">
            <img src="{{imageUrl "nav/public.png"}}" />
        </a>
    </li>
    <li {{#if onStaffPicks}}class="active"{{/if}} title="Staff Picks">
        <a href="/staff_picks">
            <img src="{{imageUrl "nav/staff_picks.png"}}" />
        </a>
    </li>
    <li {{#if onTimeWarp}}class="active"{{/if}} title="Time Warp">
        <a href="/timewarp">
            <img src="{{imageUrl "nav/time.png"}}" />
        </a>
    </li>

    {{#if loggedIn}}
        <li title='New Remix'>
            <a href="/framer">
                <img src="{{imageUrl "nav/new.png"}}" id="composer-button" data-remix-id="new" />
            </a>
        </li>
    {{/if}}
</ul>
