<div class="root">
    <div class="nav-main">
        <a href="/">
            <img src="{{imageUrl "nav/makrlogo.png"}}"/>
        </a>
    </div>

    <ul class="nav-center">
        <li {{#if onExplore}}class="active"{{/if}}>
            <a href="/front_page">
                Explore
                {{#unless loggedIn}} 
                    Makr.io
                {{/unless}}
            </a>
        </li>

        {{#if loggedIn}}
            <li {{#if onYou}}class="active"{{/if}}>
                <a href="/interests">
                    You
                </a>
            </li>
        {{/if}}
    </ul>

    {{#if loggedIn}}
        <div id='user_pane'>
            <ul>
                <li>
                    <a style='font-size:12px' href='http://bit.ly/O5Pb9r' target="_blank">Shark Week PIZZA party on Makr.io 08/12/12 at 6pm PST <br/> Click here to learn more</a>
                </li>
                <li title='New Remix'>
                    <a href="/framer" class="composer-button icon" data-remix-id="new">
                        <img src="{{imageUrl "nav/new.png"}}" class="composer-button" data-remix-id="new" />
                    </a>
                </li>
                <li class="notification-count {{#if current_user.notifications_count}}red{{/if}}"   title='Notifications'>
                    <a href="/notifications" target="_blank">
                        {{current_user.notifications_count}}
                    </a>
                </li>
            </ul>

            <ul class="nav-popout bottom">
                <li class="popout-root">
                    {{#linkToPerson current_user}}
                        {{{personImage this "small" "medium"}}}
                    {{/linkToPerson}}
                </li>

                <ul class="sub">
                    <li title="Settings">
                        <a href="/users/edit" class='icon'>
                            <img src="{{imageUrl "nav/settings.png"}}" />
                        </a>
                    </li>
                    <li title="About">
                        <a href="/about" class='icon'>
                            <img src="{{imageUrl "nav/about2@2x.png"}}" />
                        </a>
                    </li>
                    <li title="Log Out">
                        <a href="/users/sign_out" class='icon'>
                            <img src="{{imageUrl "nav/logout.png"}}" />
                        </a>
                    </li>
                </ul>
            </ul>
        </div>
    {{else}}
        <ul class="login">
            <li>
                <a href="/about" >
                    About
                </a>
            </li>
            <li>
                <a href="/users/sign_in" class="login-link">
                    Log In
                </a>
            </li>
        </ul>
    {{/if}}
</div>

{{#if showSubNav}}
    <div class="sub">
        <ul class="nav-center">
            {{#if onExplore}}
                <li {{#if onFrontPage}}class="active"{{/if}}>
                    <a href="/front_page">
                        Popular
                    </a>
                </li>

                <li {{#if onLatest}}class="active"{{/if}}>
                    <a href="/latest">
                        Latest
                    </a>
                </li>

                <li {{#if onTopics}}class="active"{{/if}}>
                    <a href="/topics">
                        Topics
                    </a>
                </li>

                <li {{#if onStaffPicks}}class="active"{{/if}}>
                    <a href="/staff_picks">
                        Staff Picks
                    </a>
                </li>

                 <li {{#if onTimeWarp}}class="active"{{/if}}>
                    <a href="/timewarp">
                        Time Warp
                    </a>
                </li>

            {{/if}}
            {{#if onYou}}
                <li {{#if onInterests}}class="active"{{/if}}>
                    <a href="/interests">
                        Interests
                    </a>
                </li>

                <li {{#if onLikes}}class="active"{{/if}}>
                    <a href="/likes">
                        Likes
                    </a>
                </li>

                <li {{#if onTopics}}class="active"{{/if}}>
                    <a href="/{{current_user.username}}">
                        Posts
                    </a>
                </li>
            {{/if}}
        </ul>
    </div>
{{/if}}