<div id="login_banner">
  <div class="red-stripe">
  	<a href='/'>
  		<img src='{{imageUrl "logos/landing_logo@2x3.png"}}' class='banner-logo'/>
  	</a>
      <div class="tagline">
  		Simple, creative collaboration.
  	</div>

  	<div class="prompt-left">
    		<span class="follow-buttons">
          	<a href='http://facebook.com/makrapp' title="Facebook" target="_blank">
              	<img src="{{imageUrl "services/links/fb@2x.png"}}" />
            	</a>
            	<a href='http://twitter.com/makrioapp' title="Twitter" target="_blank">
              	<img src="{{imageUrl "services/links/twitter@2x.png"}}" />
            	</a>
            	<a href='http://makrio.tumblr.com/' title="Tumblr" target="_blank">
              	<img src="{{imageUrl "services/links/tumblr@2x.png"}}" />
            	</a>
            	<a href='http://pinterest.com/makrioapp' title="Pinterest" target="_blank">
             		<img src="{{imageUrl "services/links/pin@2x.png"}}" />
            	</a>
          </span>
  	  <a href="/users/sign_in" class="login-link">Log in</a>
    </div>
  </div>
</div>

{{#unless onRoot}}
  <div class="signup-wrapper">
    <div class="container">
      <div id="signup_banner">
        <a href="/users/sign_up" id="sign_up_button" class="btn new-btn blue" style="float:right;">Sign up</a>
        <h3>
          Makr.io is a collaborative web-remixing community.
          <span class="lighter">
            Creatively explore the topics you love with others.
          </span>
        </h3>
      </div>
    </div>
  </div>
{{/unless}}
