<div class="span3 offset4">
  <div class="media">
    <div class="img">
      {{{personImage this "small"}}}
    </div>
    <div class="bd">
      <a href="/{{username}}">
        {{name}}
      </a>
      <br/>
      {{followers}} Followers
      –
      {{following}} Following
    </div>
  </div>
</div>

<div class="span1">
  <div class="follow-btn" style="margin:10px; float:right;" />
</div>
