<div class="span5 offset1" style="text-align:center;">

    {{#if parent}}
        {{#with parent}}
            <div class="original-frame">
                {{#linkToPerson author}}
                <div class="profile-image-container micro post-author" style="background-image : url('{{avatar.small}}');" title="{{name}}" data-placement="right"></div>
                {{/linkToPerson}}
                <a href="/p/{{id}}">
                    <img src="{{screenshot_url}}" class="frame" />
                </a>
            </div>
        {{/with}}

        <i class="icon-random icon-grey divider"></i>
    {{/if}}

    <div class="current-frame">
        {{#linkToPerson author}}
            <div class="profile-image-container small post-author" style="background-image : url('{{avatar.small}}');" title="{{name}}" data-placement="right"></div>
        {{/linkToPerson}}

        <div id="featured_frame" class="frame"> </div>
    </div>
</div>
<div class="span5">
    <div id="viewer-info">
        <h2 id="post-title">{{title}}</h2>
        <h4>by <a href="/{{author.username}}">{{author.name}}</a></h4>
        <br/>
        <a href='/conversations/{{conversation_id}}' class= 'btn new-btn'>View other remixes</a>
        <hr/>

        <h3>Got a response?</h3>
        <h4>Try remixing or liking {{author.nickname}}'s post!</h4>

        <div id="viewer-feedback"/>

        <hr/>
        <h4>Sharing is caring</h4>
        <div id="share-actions"/>
        {{#if current_user.admin}}
            <hr />
            <h6>Tags</h6>
            <form name="tagForm" class='form-inline' action="/posts/{{id}}/tags" method="post" data-remote="true">
                <input type="text" name="tag_list" value='{{tag_list}}' placeholder='add comma seperated tags'/>
                <input type="submit" value='Set Tags' class="btn new-btn"/>
            </form>
        {{/if}}
    </div>
</div>