<div id="post-content">
    <a href='/stream' class='logo'>
        <img src="{{imageUrl "makr_home_logo@2x.png"}}" height=40 />
    </a>

    <div id="info_row">
        {{#if parent}}
            <div class="original-frame">
                <div class="original-frame-wrapper">
                    {{#linkToPerson parent.author}}
                        <div class="profile-image-container micro post-author" style="background-image : url('{{avatar.small}}');" title="{{name}}" data-placement="right"></div>
                    {{/linkToPerson}}
                    <a href="/p/{{parent.id}}">
                        <img src="{{parent.screenshot_url}}" class="frame" />
                    </a>
                </div>
            </div>

            <i class="icon-random divider"></i>
        {{/if}}

        <div class="current-frame">
            {{#linkToPerson author}}
                <div class="profile-image-container small post-author" style="background-image : url('{{avatar.small}}');" title="{{name}}" data-placement="right"></div>
            {{/linkToPerson}}

            <div class="frame"> </div>
        </div>
    </div>
</div>

<div id="post-interactions"> </div>

{{#unless current_user.guid}}
    <div id="sign_up_prompt">
        <div class="container">
            <img src='{{imageUrl "logos/large@2x.png"}}' height='35px' class='banner-logo'/>

            <div class="tagline">
                Remix is the highest form of flattery.
            </div>

            <a href ="/posts/{{id}}/remix" id="sign_up_button" class="new-btn" data-type="show_page">
                Remix {{author.name}}'s post Now!
            </a>
        </div>
    </div>
{{/unless}}