<header/>
<div id="post-content">
    <div id="info_row">
        <div class="container">
            <div class="row">
                <div class="span5 offset1" style="text-align:center;">

                    {{#if parent}}
                        {{#with parent}}
                            <div class="original-frame">
                                {{#linkToPerson author}}
                                <div class="profile-image-container micro post-author" style="background-image : url('{{avatar.small}}');" title="{{name}}" data-placement="right"></div>
                                {{/linkToPerson}}
                                <a href="/p/{{id}}">
                                    <img src="{{screenshot_url}}" class="frame" />
                                </a>
                            </div>
                        {{/with}}

                        <i class="icon-random icon-grey divider"></i>
                    {{/if}}

                    <div class="current-frame">
                        {{#linkToPerson author}}
                            <div class="profile-image-container small post-author" style="background-image : url('{{avatar.small}}');" title="{{name}}" data-placement="right"></div>
                        {{/linkToPerson}}

                        <div id="featured_frame" class="frame"> </div>
                    </div>
                </div>
                <div class="span5">

                <div id="viewer-info">
                    <h2 id="post-title">{{title}}</h2>
                    <h4>by <a href="/{{author.username}}">{{author.name}}</a></h4>
                    <br/>
                    <a href='/conversations/{{conversation_id}}' class= 'btn new-btn'>View the conversation</a>
                    <hr/>

                    <h3>Got a response?</h3>
                    <h4>Try remixing or liking {{author.nickname}}'s post!</h4>

                    <div id="viewer-feedback"/>

                    <hr/>
                    <h4>Sharing is caring</h4>
                    <div id="share-actions"/>
                </div>
                </div>
            </div>

            <div class="clearfix"/>

            <div class="row">
                <div class="span12" style="margin-top: 100px; border-top:1px solid #ccc;">
                    <h3 style="text-align: left; padding: 20px 0;">More remixes from conversation <a href="#">{{conversation_name}}</a></h3>
                    <div id="canvas"/>
                </div>
            </div>
        </div>
    </div>
</div>

{{#unless current_user.guid}}
    <div id="sign_up_prompt">
        <div class="container">
            <div class="tagline">
                {{author.nickname}} uses Makr.io to remix content around the web.
            </div>

            <a href ="/posts/{{id}}/remix" id="sign_up_button" class="new-btn" data-type="show_page">
                Remix {{author.nickname}}'s post Now!
            </a>
        </div>
    </div>
{{/unless}}
