<div class='container pro-tips'>
  <div class='row'>
    <div class='span6 offset3'>
      <div id="about_container">
        <div id="about_left">
          <ul>
            <li><a href="/about">What is Makr.io?</a></li>
            <li><a href="/getting_started">Getting Started</a></li>
            <li><a href="/pro_tips">Pro-Tips</a></li>            
          </ul>
        </div>

          <h2>Remix button</h2>
          <p></p>
          <span style="font-family: Roboto; font-size: 21px;"> 
            <p class='well' id='bookmarklet_well'><normal> Drag this to your bookmarks bar to remix anywhere → </normal>
             <a class='btn new-btn' href='{{bookmarklet}}'>Remix</a>
            </p>
          </span>

            <p></p>
            <p>Can't see your bookmarks bar? Here’s how to expose it in the Chrome browser:</p>
            <p></p>
            <img src="{{imageUrl "bookmarkscreen.png"}}" class="floatLeft"/>
             <ol>
                <li>Expose your Bookmarks bar by clicking <strong> Wrench icon > Bookmarks > Show Bookmarks Bar</strong></li>
                <li>Drag the Remix button to your bookmarks bar</li>
                <li>While surfing the web, click the "Remix" button to remix any image.</li>
             </ol>
            </p>
            <br/>
          <p>
            Once installed in your browser, the “Remix” button lets you grab an image from any website, and you can begin customizing the image with your own creative message! You can post your creation to one of your topic pages, and share with your friends there or anywhere on the web.
          </p>
          <br/>

          <h2>Keyboard shortcuts</h2>
          <img src="{{imageUrl "keyboard.png"}}" style="margin-bottom:20px;"/>
          <p>
            Browse through posts on Makr.io with the greatest of ease using keyboard shortcuts! Use the <code>J</code> & <code>K</code> keys to flip back and forth between posts. Press the <code>L</code> to like a post and <code>R</code> to remix one. Don’t worry, you’ll get the hang of it :)
          </p>
          <br/>

          <h2>Need more help?</h2>
          <p>
            Or got feedback? Questions? Just need someone to talk to? We'd love to hear from you. Email us: <a href='mailto:hello@makr.io'>hello@makr.io</a>.
          </p>
          <br/>

          <h2>Follow Us</h2>
          <p>Keep updated on Makr from any community!</p>
          <div class="follow-buttons">
            <a href='http://makrio.tumblr.com/' title="Tumblr" target="_blank">
              <img src="{{imageUrl "services/links/tumblr2@2x.png"}}" />
            </a>
            <a href='http://facebook.com/makrapp' title="Facebook" target="_blank">
              <img src="{{imageUrl "services/links/fb2@2x.png"}}" />
            </a>
            <a href='http://twitter.com/makrioapp' title="Twitter" target="_blank">
              <img src="{{imageUrl "services/links/twitter2@2x.png"}}" />
            </a>
            <a href='http://pinterest.com/makrioapp' title="Pinterest" target="_blank">
              <img src="{{imageUrl "services/links/pin2@2x.png"}}" />
            </a>
            
          <a href='https://joindiaspora.com/u/makrio' title="Diaspora" target="_blank">
          <img src="{{imageUrl "services/links/diasp@2x.png"}}" />
        </a>
          </div>


      </div>
    </div>
  </div>
</div>