<div id="profile-header">
    <a href="/{{username}}">
        <div class="profile-image-container" style="background-image : url('{{avatar.large}}')"></div>
    </a>

    <h3>
        <a href="/{{username}}" style="color:inherit;">
            {{name}}
        </a>
    </h3>

    <div id="profile-stats">
        {{#if location}}
            <span class="stat">
                <a href="http://maps.google.com/maps?q={{location}}" target="_blank">
                    <i class="icon-map-marker icon-white"></i>
                </a>
                {{location}}
            </span>
        {{/if}}
       {{#if current_user.admin}}
            <span> {{diaspora_id}} </span>
       {{/if}} 

        {{#if is_own_profile}}
            <span class="edit-control">
                <span class="divider">•</span>
                    <a href="/profile/edit" title="Edit Profile" rel="tooltip" style="margin-left:2px;">
                        <i class="icon-cog icon-white"></i>
                    </a>
                </span>
            </span>
        {{/if}}
    </div>

    <a href="/{{username}}/following">
        following: {{following}}
    </a>
    |
    <a href="/{{username}}/followers">
        followers: {{followers}}
    </a>

    {{#unless is_own_profile}}
        <div id="follow-btn-container"/>
    {{/unless}}
</div>
