 <a href="{{url}}" data-url="{{url}}" title="Tweet" class="tweet-button" data-title="{{title}}" target="_blank"><img src="{{imageUrl "buttons/share_twitter.jpg"}}" /></a>
 <a href="{{url}}" data-url="{{url}}" title="Post to Facebook" class="facebook-button" data-title="{{title}}" target="_blank"><img src="{{imageUrl "buttons/share_fb.jpg"}}" data-title="{{title}}"/></a>
 <a href="{{url}}" data-url="{{url}}" title="Post to Tumblr" class="tumblr-button" data-title="{{title}}" target="_blank"><img src="{{imageUrl "buttons/share_tumblr.jpg"}}" /></a>
<span><input type="text"class='form-inline' name=url value="{{url}}" readonly></span>