 <a href="{{url}}" title="Tweet" class="tweet-button" target="_blank"><img src="{{imageUrl "buttons/share_twitter.jpg"}}" data-title="{{title}}"/></a>
 <a href="{{url}}" title="Post to Facebook" class="facebook-button" target="_blank"><img src="{{imageUrl "buttons/share_fb.jpg"}}" data-title="{{title}}"/></a>
 <a href="{{url}}" title="Post to Tumblr" class="tumblr-button" target="_blank"><img src="{{imageUrl "buttons/share_tumblr.jpg"}}" data-title="{{title}}"/></a>
