 <a href="{{url}}" title="Tweet" data-title="{{title}}" class="tweet-button"  target="_blank">Tweet</a>
 <a href="{{url}}" title="Post to Facebook" data-title="{{title}}" class="facebook-button"  target="_blank">Post To Facebook</a>
 <a href="{{url}}" title="Post to Tumblr" data-title="{{title}}" class="tumblr-button"  target="_blank">Post To Tumblr</a>
