 <a href="{{url}}" title="{{title}}" class="tweet-button"  target="_blank">Tweet</a>
 <a href="{{url}}" title="{{title}}" class="facebook-button"  target="_blank">Post To Facebook</a>
 <a href="{{url}}" title="{{title}}" class="tumblr-button"  target="_blank">Post To Tumblr</a>
