<a href="{{url}}" data-url="{{url}}" title="Tweet" class="tweet-button" data-title="{{title}}" target="_blank"><img src="{{imageUrl "buttons/share_twitter.jpg"}}" height=20 width=58/></a>
<a href="{{url}}" data-url="{{url}}" title="Post to Facebook" class="facebook-button" data-title="{{title}}" target="_blank"><img src="{{imageUrl "buttons/share_fb.jpg"}}" data-title="{{title}}" height=20 width=58/></a>
{{#unless hideTumblr}}
  <a href="{{url}}" data-url="{{url}}" title="Post to Tumblr" class="tumblr-button" data-title="{{title}}" target="_blank"><img src="{{imageUrl "buttons/share_tumblr.jpg"}}" height=20 width=58 /></a>
{{/unless}}

{{#unless hidePinterest}}
  <a href="{{url}}" data-url="{{url}}" title="Pin on Pinterest" class="pinterest-button" data-title="{{title}}" target="_blank"><img src="{{imageUrl "buttons/share_pin.jpg"}}" height=20 width=58 /></a>
{{/unless}}

{{#if imgfave}}
  <a href='#' title='Post on imgfave', class='imgfave-button'>
  	<img src="{{imageUrl "buttons/share_imgfave.jpg"}}" />
  </a>
{{/if}}

{{#unless hideUrl}}
  <span style="margin-left:4px;"><input type="text"class='form-inline' name=url value="{{url}}" readonly></span>
{{/unless}}

