<div id="{{guid}}" data-id="{{id}}" data-target="#{{guid}}" class="stream-frame-wrapper">
    <div class="stream-row">
        {{#if parent}}
            <div class="original-frame-wrapper">
                {{#linkToPerson parent.author}}
                    <div class="profile-image-container micro post-author" style="background-image : url('{{avatar.small}}');" title="{{name}}" data-placement="right"></div>
                {{/linkToPerson}}
                <a href="/p/{{parent.id}}" class="original-frame">
                    <img src="{{parent.screenshot_url}}" />
                </a>
            </div>
            <i class="icon-random icon-grey divider"></i>
        {{else}}
            <div class="original-frame holder"></div>
        {{/if}}

        <div class="frame-link">
            {{#linkToPerson author}}
                <div class="img">
                    <div class="profile-image-container small post-author" style="background-image : url('{{avatar.small}}')" title="{{name}}" data-placement="left"></div>
                </div>
            {{/linkToPerson}}

            <div class="small-frame"></div>

            {{#if canRemove}}
                <a href="#" class="remove-post" title="Remove">
                    <i class="icon-remove"></i>
                </a>
            {{/if}}

            <div class="latest-feedback" style="margin-top:10px;" />
        </div>

        <div class="stream-post-info">
            <div class="detail">
                {{#if current_user.admin}}
                    <a href="#" class="toggle-featured">
                        {{#featured}}
                        unfeature
                        {{else}}
                        feature
                        {{/featured}}
                    </a>
                    |
                    <a href="#" class="toggle-staff-picked">
                        {{#staff_picked_at}}
                            remove from staff picks
                        {{else}}
                            add to staff pick
                        {{/staff_picked_at}}
                    </a>
                {{/if}}

                <span>
                    <i class="icon-heart icon-grey"></i> {{interactions.likes_count}}
                </span>
                <span>
                    <i class="icon-random icon-grey"></i> {{interactions.remix_count}}
                </span>
                <span>
                    <i class="icon-comment icon-grey"></i> {{interactions.comments_count}}
                </span>
            </div>
        </div>
    </div>
</div>
