<div id="{{guid}}" data-id="{{id}}" data-target="#{{guid}}" class="stream-frame-wrapper">
    <div class="stream-row">
        <div class='original-frame-container'>
            {{#if parent}}
                <div class="original-frame-wrapper">
                    {{#linkToPerson parent.author}}
                        <div class="profile-image-container micro post-author" style="background-image : url('{{avatar.small}}');" title="{{name}}" data-placement="right"></div>
                    {{/linkToPerson}}
                    <a href="/p/{{parent.id}}" class="original-frame">
                        <img src="{{parent.screenshot_url}}" />
                    </a>
                </div>
                    <i class="icon-random icon-grey divider"></i>
            {{else}}
                <div class="original-frame holder"></div>
            {{/if}}
        </div>

        <div class="frame-link">
             <div class='media'> 
                <h3 class='aggregate-count'>
                  {{interactions.aggregate_count}}
                </h3>
              <div class='img'> 
                <a href='/{{author.username}}'>
                  {{{personImage author "small"}}}
                </a>
              </div>
              <div class='bd'>
                <h3>
                    <a href='/{{author.username}}'>
                      {{author.nickname}}
                    </a>
                    <span id="follow-btn-container"/>
                </h3>
              </div>
            </div>

            <div class="small-frame"></div>

            {{#if canRemove}}
                <a href="#" class="remove-post" title="Remove">
                    <i class="icon-remove"></i>
                </a>
            {{/if}}

            <div class="latest-feedback" style="margin-top:10px;" />
            {{#if tags}}
                <div class='tag-list'>
                    {{#each tags}}
                        <a class='topic-link' href='/tagged/{{this.name}}'>  <span class="label">{{this.display_name}}</span></a>
                    {{/each}}
                </div>
            {{/if}}
        </div>

        {{#if current_user.admin}}
            <div class="stream-post-info">
                <div class="detail">
                    <a href="#" class="toggle-featured">
                        {{#featured}}
                        unfeature
                        {{else}}
                        feature
                        {{/featured}}
                    </a>
                    |
                    <a href="#" class="toggle-staff-picked">
                        {{#staff_picked_at}}
                            remove from staff picks
                        {{else}}
                            add to staff pick
                        {{/staff_picked_at}}
                    </a>
                </div>
            </div>
        {{/if}}
    </div>
</div>
