<div id="header">
    <div class="container" style="position:relative;">
            <div class="row">
                <div class="span12">
            <div id="top-right-nav">
                {{#if current_user.guid}}
                    <a href="{{bookmarkletJS}}" title="Bookmarklet" class="bookmarklet-button">
                        <span class="label label-inverse">
                            Post to Makr.io
                        </span>
                    </a>

                    <a href="/notifications" title="Notifications" id="notifications-button">
                        <span class="label label-inverse {{#if current_user.notifications_count}}unread{{/if}}">
                            <i class="icon-envelope icon-white"></i>
                            {{current_user.notifications_count}}
                        </span>
                    </a>

                    <a href="/people/{{current_user.guid}}" id="profile-button">
                        <span class="label label-inverse">
                            <i class="icon-user icon-white"></i>
                        </span>
                    </a>

                    <a href="/users/sign_out" title="Log out" id="logout-button">
                        <span class="label label-inverse">
                            <i class="icon-off icon-white"></i>
                        </span>
                    </a>
                {{else}}
                    <a href="/" id="home-button">
                        <span class="label label-inverse">
                            <span>
                                {{t "pod_name"}}
                            </span>
                        </span>
                    </a>
                {{/if}}
            </div>

           <div id="makr_header_centered">
               <a href='/stream' class='logo'>
                 <img src="{{imageUrl "makr_home_logo@2x.png"}}" height=26 width=118 />
               </a>
           </div>

            <div id="make-button">
                <a href="/framer" id="composer-button" class="control small label label-inverse">
                    MAKE
                </a>
            </div>
                </div>
       </div>
    </div>
</div>

<div id="stream">
    <div id="meta-info-holder"/>
    <div class="container">
        <div class="row">
            <div class='span6'>
                <section id="stream-content" />
                <div id="paginate">
                    <div class="loader"/>
                </div>
            </div>

            <!--Since stream-interactions is fixed, we need a double span5 declaration here :(-->
            <div class="span5">
                <section id="stream-interactions" class="span5"/>
            </div>
        </div>
    </div>
</div>