<div id="{{guid}}" data-id="{{id}}" data-target="#{{guid}}" class="stream-frame-wrapper">
        <section class="frame-meta span6">
        <div class='stream-frame-feedback'></div>

        <div class="media author">
            {{#linkToPerson author}}
                <div class="img">
                    <div class="profile-image-container smaller" style="background-image : url('{{avatar.small}}')"></div>
                </div>
            {{/linkToPerson}}

            <div class="bd">
                {{#linkToPerson author}}
                    {{name}}
                {{/linkToPerson}}
                {{#if parent}}
                     <i class="icon-random icon-white"></i> 
                    {{#linkToPost parent}}
                        {{author.name}}
                    {{/linkToPost}}
                {{/if}}

                {{#if current_user.admin}}
                    <a href="#" class="toggle-featured">
                        {{#featured}}
                            unfeature
                        {{else}}
                            feature
                        {{/featured}}
                    </a>
                {{/if}}
            </div>
        </div>
    </section>

    <a href="/p/{{id}}" class="frame-link">
        <div class="small-frame"></div>
    </a>
</div>
