 <div class='media interaction-title'> 
  <div class='img'> 
    {{{personImage author "small"}}}
  </div>
  <div class='bd'>
    <h2>{{author.nickname}}'s Remix 
      <a class='btn new-btn' href="/conversations/{{conversation_id}}" class="permalink" title="Permalink"> View Remixes</a>
    </h2>
  </div>
</div>

  <h6>Topics</h6>
  {{#each tags}}
    <a class='topic-link' href='/tagged/{{this}}'>  <span class="label">{{this}}</span></a>
  {{/each}}
<br/>
<br/>

<div class="feedback"/>
<div class="comments"/>
<div class="new-comment"/>
<br/>
<h6>SHARE</h6>
<div id='share-actions'/>
<hr />
<h6>Tags</h6>
<form name="tagForm" class='form-inline' action="/posts/{{id}}/tags" method="post" data-remote="true">
    <input type="text" name="tag_list" value='{{tag_list}}' placeholder='add comma seperated tags'/>
    <input type="submit" value='Set Tags' class="btn new-btn"/>
</form>
