<div id="{{guid}}" data-id="{{id}}" data-target="#{{guid}}" class="stream-frame-wrapper">
    <div class="stream-row">
        {{#if parent}}
            <div class="original-frame-wrapper">
                {{#linkToPerson parent.author}}
                    <div class="profile-image-container micro post-author" style="background-image : url('{{avatar.small}}');" title="{{name}}" data-placement="right"></div>
                {{/linkToPerson}}
                <a href="/p/{{parent.id}}" class="original-frame">
                    <img src="https://makerio.s3.amazonaws.com{{parent.screenshot_url}}" />
                </a>
            </div>
            <i class="icon-random divider"></i>
        {{else}}
            <div class="original-frame holder"></div>
        {{/if}}

        <div class="frame-link">
            {{#linkToPerson author}}
                <div class="img">
                    <div class="profile-image-container small post-author" style="background-image : url('{{avatar.small}}')" title="{{name}}" data-placement="left"></div>
                </div>
            {{/linkToPerson}}

            <a href="/p/{{id}}">
                <div class="small-frame"></div>
            </a>

            {{#if current_user.admin}}
                <a href="#" class="toggle-featured" style="float:left;">
                    {{#featured}}
                        unfeature
                    {{else}}
                        feature
                    {{/featured}}
                </a>
            {{/if}}

            <div class='stream-frame-feedback'></div>
        </div>

    </div>
</div>
