 <div class='media interaction-title'> 
  <div class='img'> 
    {{{personImage author "small"}}}
  </div>
  <div class='bd'>
    <h2>{{author.nickname}}
      <span id="follow-btn-container"/>
      <a class='btn new-btn' href="/conversations/{{conversation_id}}" class="permalink" title="Permalink" style="float:right;">View Remixes</a>
    </h2>
  </div>
</div>

<br/>
<div id='share-actions'/>
<br/>

{{#if tags}}
  <h6>Topics</h6>
    {{#each tags}}
      <a class='topic-link' href='/tagged/{{this.name}}'>  <span class="label">{{this.display_name}}</span></a>
    {{/each}}
  <br/>
  <br/>
{{/if}}

<div class="feedback"/>
<div class="comments"/>
<div class="new-comment"/>

<br/>
<h6>Tags</h6>
<form name="tagForm" class='form-inline' action="/posts/{{id}}/tags" method="post" data-remote="true">
    <input type="text" name="tag_list" value='{{tag_list}}' placeholder='add comma seperated tags'/>
    <input type="submit" value='Set Tags' class="btn new-btn"/>
</form>
