<a href="#" rel="auth-required" class="remix" data-remix-id='{{id}}' title="{{t "viewer.reshare"}}"></a>
<a href="#" rel="auth-required" class="like {{#if userLike}}liked{{/if}}" title="{{#if userLike}} {{t "viewer.unlike"}} {{else}} {{t "viewer.like"}} {{/if}}"></a>

{{#if canRemove}}
    <a href="#" rel="auth-required" class="delete" title="Delete"></a>
{{/if}}