<h6 id='tag-info-share'>Invite your friends<div id='share_actions'/></h6>
<h1 id='page_title' style="margin-bottom:0;">
    {{display_name}}
</h1>
<h2 id="tag_descrip_large">
    {{description}}
</h2>

<div id='tag-leaders'>
    <h6>
        Top Contributors
    </h6>
    
    {{#each makrs}}
        <div class="leader" style="background-image:url('{{avatar.large}}');">
            <a href='/{{username}}' title='{{name}}' data-placement="bottom">
            </a>
        </div>
    {{/each}}
</div>

