<h1 id='page_title'>
    {{name}}
    <small>
        {{makr_count}} <em>Makrs</em>
        {{likes_count}} <em>Likes</em>
        {{remix_count}} <em>Remixes</em>
    </small>
</h1>


<div id='tag-leaders'>
    <h6>
        Top Contributors
    </h6>
    
    {{#each makrs}}
        <div class="leader" style="background-image:url('{{avatar.large}}');">
            <a href='/{{username}}' title='{{name}}' data-placement="bottom">
            </a>
        </div>
    {{/each}}
</div>
