<h1 class='tag-header'>{{name}}</h1>
<div id='tag-leaders'>
  <div id='tag-hot'>
    <a href='/{{on_fire.username}}'>
      <div class="profile-image-container" style="background-image : url('{{on_fire.avatar.large}}')"></div>
      <h3>{{on_fire.name}}</h3>
    </a>
    <span><i class='icon-fire'></i> on fire</span>
  </div>

  <div id='tag-most-posts'>
    <a href='/{{most_posts.username}}'>

      <div class="profile-image-container" style="background-image : url('{{most_posts.avatar.large}}')"></div>
      <h3>{{most_posts.name}}</h3>
    </a>
    <span>most original posts</span>
  </div>

  <div id='tag-most-remixes'>

    <a href='/{{most_remixes.username}}'>
      <div class="profile-image-container" style="background-image : url('{{most_remixes.avatar.large}}')"></div>
      <h3>{{most_remixes.name}}</h3>
    </a>
    <span>most remixes</span>
  </div>


</div>

<div id='tag-participants'>
  <div id='tag-makrs' class='tag-row'>
    <i class='icon-user'></i> {{makr_count}} Makrs
    {{#each makrs}}
      <a href='/{{username}}' title='{{name}}'>
        <img src='{{avatar.small}}' class='avatar micro'/>
      </a>
    {{/each}}
  </div>

  <div id='tag-likes' class='tag-row'>
    <i class='icon-heart'></i> {{likes_count}} Likes
    {{#each likers}}
      <a href='/{{username}}' title='{{name}}'>
        <img src='{{avatar.small}}' class='avatar micro'/>
      </a>
    {{/each}}
  </div>

  <div id='tag-remixes' class='tag-row'>
    <i class='icon-random'></i> {{remix_count}} Remixes
  </div>

  <div id='tag-comments' class='tag-row'>
    <i class='icon-comment'></i> {{comment_count}} Comments
  </div>
</div>