<h1 id='page_title'>
    {{name}}
    <small>
        {{makr_count}} <em>Makrs</em>
        {{likes_count}} <em>Likes</em>
        {{remix_count}} <em>Remixes</em>
    </small>
    <span>
        {{#if loggedIn}}
            <a href='#' id='collection-composer-button' rel='auth-required'     data-remix-id='new' data-tag='{{name}}' class='btn new-btn'> Add to Post to {{name}}</a>
        {{else}}
            <a class='btn new-btn' href='/tagged/{{name}}/auth_required'> Add to Post to {{name}}</a>
        {{/if}}
    </span>
</h1>


<div id='tag-leaders'>
    <h6>
        Top Contributors
    </h6>
    <!--<div id='tag-hot' class="leader" style="background-image:url('{{on_fire.avatar.large}}');">-->
        <!--<a href='/{{on_fire.username}}'>-->
            <!--<span><i class='icon-fire icon-white'></i> on fire</span>-->
        <!--</a>-->
    <!--</div>-->

    {{#each makrs}}
        <div class="leader" style="background-image:url('{{avatar.large}}');">
            <a href='/{{username}}' title='{{name}}'>
            </a>
        </div>
    {{/each}}
</div>
