<div class='container'>
    <div class="topics" style='min-height:700px'>
        {{#each tags}}
            <div class="topic">
                <a href="/topics/{{name}}">
                    <div class="stack">
                        <div class="topic-image" style="background-image:url('{{latest_post_screenshot}}')"></div>
                    </div>
                    <div class="topic-info">
                        <span class="topic-title">{{name}}</span>
                        <div class="topic-vitals">
                            <i class="icon-user icon-grey"></i> {{makr_count}}
                            -
                            <i class="icon-random icon-grey"></i> {{remix_count}}
                        </div>
                    </div>
                </a>
            </div>
        {{/each}}
    </div>
    <h3>Want to start a topic you don't see here? Start by making stuff about your topic and send us an email at <a href='mailto:feedback@makr.io?subject=I%20want%20a%20new%20topic!' target='_blank'>feedback@makr.io</a>. </h3>
</div>