!!!
%html{:lang => "en", :dir => "ltr"}
  %head
    %meta{:charset => 'utf-8'}

    / chrome frame
    %meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1'}

    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}

    / translation
    %meta{"http-equiv"=>"Content-Language", :content => "en"}
    %meta{"name" => "google", :value => "notranslate"}

    / site author and description
    %meta{:name => "author", :content => "Diaspora, Inc."}
    %meta{:name => "description", :content => "Makr.io is a collaborative web-remixing community that lets you creatively explore the topics you love with others."}

    / search
    %meta{:name => "keywords", :content => "makrio, makr"}

    / mobile optimizations
    %meta{:name => "HandheldFriendly", :content => "True"}
    %meta{:name => "MobileOptimized", :content => "320"}
    %meta{:name => "viewport", :content => "initial-scale=1, maximum-scale=1"}

    / apple icons
    %link{:rel => 'shortcut icon', :href => "#{image_path('favicon.png')}" }
    %link{:rel => 'apple-touch-icon-precomposed', :href => image_path('apple-touch-icon-precomposed.png')}

    / dns prefetch block
    %link{:rel => "dns-prefetch", :href => "//themes.googleusercontent.com"}
    %link{:rel => "dns-prefetch", :href => "//d2v75xn1eqsd0m.cloudfront.net"}
    - if Rails.env.production?
      %link{:rel => "dns-prefetch", :href => "//api.mixpanel.com"}
      %link{:rel => "dns-prefetch", :href => "//ssl.google-analytics.com"}
      %link{:rel => "dns-prefetch", :href => "//beacon-1.newrelic.com"}
      %link{:rel => "dns-prefetch", :href => "//ping.chartbeat.net"}
      %link{:rel => "dns-prefetch", :href => "//static.olark.com"}

    = og_site_name

    = include_fb_canvas_redirect
    = chartbeat_head_block
    = include_mixpanel

    %title
      = page_title yield(:page_title)

    = include_base_css_framework(:bootstrap)
    - if frame_page? 
      = stylesheet_link_tag :default,  'new-templates', :media => 'all'
    - else
      = stylesheet_link_tag :default, 'roboto', 'new-templates', :media => 'all'

    - if rtl?
      = stylesheet_link_tag :rtl, :media => 'all'

    = old_browser_js_support
    <!--[if IE]>
    = javascript_include_tag :ie
    <![endif]-->

    = jquery_include_tag

    = set_current_user_in_javascript

    - unless @landing_page
      = javascript_include_tag :main, :templates
      = load_javascript_locales

    = set_asset_host
    = translation_missing_warnings
    = current_user_atom_tag

    - if @post.present?
      = og_page_specific_tags(@post)
    - elsif @person.present?
      = og_page_specific_tags(@person)

    = yield(:head)
    = csrf_meta_tag

    = include_gon(:camel_case => true, :namespace => :preloads)

  %body{:class => 'notranslate'}
    = flash_messages
    #container
    = yield

    = include_chartbeat
    = include_mixpanel_guid
    = olark_tag
