<div id="header_inner">
    <div class="root">
        <div class="nav-main">
            <a href="/">
                <img src="{{imageUrl "nav/makrlogo.png"}}"/>
            </a>
        </div>

        <span id="root_nav"/>

        {{#if loggedIn}}
            <div id='user_pane'>
                <ul>
                    <li title='New Remix'>
                        <a href="/framer" class="composer-button icon" data-remix-id="new">
                            <img src="{{imageUrl "nav/new.png"}}" class="composer-button" data-remix-id="new" />
                        </a>
                    </li>
                    <li class="notification-count {{#if current_user.notifications_count}}red{{/if}}"   title='Notifications'>
                        <a href="/notifications" target="_blank">
                            {{current_user.notifications_count}}
                        </a>
                    </li>
                </ul>

                <ul class="nav-popout bottom">
                    <li class="popout-root">
                        {{#linkToPerson current_user}}
                            {{{personImage this "small" "medium"}}}
                        {{/linkToPerson}}
                    </li>

                    <ul class="sub">
                        <li title="Settings">
                            <a href="/users/edit" class='icon'>
                                <img src="{{imageUrl "nav/settings.png"}}" />
                            </a>
                        </li>
                        <li title="About">
                            <a href="/about" class='icon' rel="backbone">
                                <img src="{{imageUrl "nav/about3@2x.png"}}" />
                            </a>
                        </li>
                        <li title="Log Out">
                            <a href="/users/sign_out" class='icon'>
                                <img src="{{imageUrl "nav/logout.png"}}" />
                            </a>
                        </li>
                    </ul>
                </ul>
            </div>
        {{else}}
            <ul class='social-buttons'>
                 <li> 
                    <a href='http://makrio.tumblr.com/' title="Tumblr" target="_blank">
                        <img src="{{imageUrl "services/links/tumblr2@2x.png"}}" />
                    </a>
                </li>
                 <li> <a href='http://facebook.com/makrapp' title="Facebook" target="_blank">
                    <img src="{{imageUrl "services/links/fb2@2x.png"}}" />
                  </a>
                </li>
                  <li><a href='http://twitter.com/makrioapp' title="Twitter" target="_blank">
                    <img src="{{imageUrl "services/links/twitter2@2x.png"}}" />
                  </a>
              </li>
              <li>
                  <a href='http://pinterest.com/makrioapp' title="Pinterest" target="_blank">
                    <img src="{{imageUrl "services/links/pin2@2x.png"}}" />
                  </a>
              </li>

              <li>
                  <a href='https://joindiaspora.com/u/makrio' title="Diaspora" target="_blank">
                    <img src="{{imageUrl "services/links/diasp@2x.png"}}" />
                  </a>
              </li>
            </ul>
            <ul class="login">
                <li>
                    <a href='http://makriohq.tumblr.com' title="Blog" target="_blank">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="/about" rel='backbone'>
                        About
                    </a>
                </li>
                <li>
                    <a href="/users/sign_in" class="login-link">
                        Log In
                    </a>
                </li>
            </ul>
        {{/if}}
    </div>

    <div id="sub_header"/>
</div>

{{#unless loggedIn}}
    {{#unless onStream}}
        {{#unless onLogin}}
            <div id="sign_up_banner"/>
        {{/unless}}
    {{/unless}}
{{/unless}}